{% extends "base.html" %}

    {% block content %}
     <div class="reports">
         <a href={{ create_link }} class="navlink">HOME</a>

         {{ create_link }}
        <h1>Reports</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
            </tr>
            {% for report in reports %}
            <tr>
                <td class="book-cell">{{ report.id }}</td>
                <td class="book-cell">{{ report.title }}</td>
                <td class="book-cell">{{ report.description }}</td>
                <td class="book-cell">{{ report.category }}</td>
                <td class="book-cell">{{ report.status }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% load static %}

<script src="{% static 'js/scripts.js' %}"></script>

    {% endblock %}
